@using Microsoft.AspNet.Identity.EntityFramework;

@model IEnumerable<IdentityRole>

@{
    ViewBag.Title = "ListRoles";
Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}

<hr />
<h2 class="h2">Roles</h2>
<hr />

<table class="table table-responsive table-hover table-dark">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditRole", new { roles = item.Name }) |
                @Html.ActionLink("Delete", "DeleteRole", new { roles = item.Name })
            </td>
        </tr>
    }
</table>


@Html.ActionLink("Create New", "CreateRole", null, new { @class="btn btn-primary"})
