@model IEnumerable<EC.Models.Category>

@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}




<table class="table table-hover table-dark table-responsive " style="margin-top: 1em;">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.category_description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.category_description)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>

<p>
    <div class="btn btn-primary white"> @Html.ActionLink("Create New", "Create")</div>
</p>