@using PagedList.Mvc;
@model PagedList.IPagedList<EC.Models.Category>


@{
    ViewBag.Title = "Category";
    Layout = "~/Views/Admin/Shared/_AdminLayout.cshtml";
}

<hr />
<p class="text-right">
    @using (Html.BeginForm("Index", "Categories", FormMethod.Get))
    {
        @Html.TextBox("Search", (string)ViewBag.Search, htmlAttributes: new { @class = "form-control form-inline my-2 my-md-0", @placeholder = "Search by category" })
        <p></p>
        <input type="submit" value="Search" class="btn btn-outline-secondary" />
    }
</p>
    <hr />



    <table class="table table-hover table-dark table-responsive " style="margin-top: 1em;">
        <tr>
            <th>
                @Html.Label("Description")
            </th>
            <th>
                @Html.ActionLink("Sort", "Index", new { SortOrder = ViewBag.SortOrder, Search = ViewBag.Search , PageNumber = Model.PageNumber}, new { @class = "text-white" ,@style="text-decoration:none;" })
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.CategoryID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })
                </td>
            </tr>
        }

    </table>

    <p>
        <div class="btn btn-primary white"> @Html.ActionLink("Create New", "Create")</div>
    </p>

    <div>

        @Html.PagedListPager(Model, page => Url.Action("Index", new { PageNumber = page, SortOrder = ViewBag.CurrentSort, Search = ViewBag.Search }))
    </div>